.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form{
  background-color: palevioletred;
  padding: 20px;
}

.form input:first-child{
  margin-top: 20px;
}

.form input{
  border: 1px solid #ccc;
  padding: 12px 10px;
  outline: none;
  margin-bottom: 12px;
}
.form button{
  background-color: green;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.dataTable{
  margin-top: 30px;
  background-color: palevioletred;
}
table,tr,td,th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 12px;

}
table button{
  border: none;
  outline: none;
  background: rgb(187, 187, 33);
  padding: 6px 10px;
  margin: 0 5px;
  border-radius: 6px;
  cursor: pointer;
}
table button:last-child{
  background-color: red;
}
.buttonContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.buttonContainer button:last-child{
  margin-left: 10px;
  background-color: rgb(226, 11, 11);
}